.forgot-outer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-container {
    border: 3px solid #1D5171;
    border-radius: 15px;
    width: 477px;
    height: fit-content; 
    max-width: 80vw;
    margin-top: 50px;
    margin-bottom: 100px;
}

.forgot-header-container {
    width: 80%;
    height: fit-content;
    text-align: center;
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
}

.forgot-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
}

.forgot-label {
    margin-bottom: 6px;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 700;
}

.forgot-input {
    border: 2px solid #1D5171;
    border-radius: 10px;
    height: 46px;
    padding-left: 16px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}
.forgot-input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    opacity: 20%;
}
.forgot-input:focus {
    outline: none;
    border: 4px solid #1D5171;
}

#forgot-submit-btn {    
    border: none;
    background-color: #1D5171;
    margin-top: 50px;
    margin-bottom: 35px;
    width: 160px;
    height: 45px;
    border-radius: 10px;
    margin-left: auto;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.forgot-success,
.forgot-fail {
    text-align: center;
    margin-top: 15px;
    margin-bottom: -34px;
}
.forgot-fail {
    color: red;
}
.forgot-success {
    color: green;
}

.login-link-container {
    text-align: center;
    margin-bottom: 15px;
}
.login-link {
    font-size: 16px;
    font-weight: 700;
    color: #1D5171;
    opacity: 50%;
    border: none;
    background: none;
}
.login-link:hover {
    text-decoration: underline;
    cursor: pointer;
}